// out: ../styles/main.css

// Variables
@mobile-min: 991px;
@mobile-max: 992px;

@background-color: rgb(233, 233, 226);


// Fonts
 @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

// Global Styles
h1, h2, h3, h4{
  font-family: "Permanent Marker", sans-serif;
}

button{
  border: none;
}

// General Styles

html{
  scroll-behavior: smooth;
}

body{
  margin: 0;
  font-size: 1.2em;
  background-color: @background-color;
}

// Navigation Styles
nav {
  @media(min-width: 992px){
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
  }
  width: 100%;

    div.nav-content{
      background-color: black;
      display: flex;
      justify-content: flex-end;
      position: relative;
      padding: 15px 10px;
      transition: 0.15s all ease-in-out;
      font-family: 'Permanent Marker', arial;

      @media(max-width: 992px){
        display: none;
        justify-content: center;
        position: fixed;
        bottom: 48.8px;
        width: 100%;
        height: 95vh;
        flex-direction: column;
        z-index: 9999;

      }
      h2.nav-title{
        color: white;
        @media(min-width: 992px){
          position: absolute;
          left: 29px;
          top: 19px;
        }

        @media(max-width: 991px){
          display: none;
        }
      }

      a {
        font-family: arial;
        font-weight: bold;
        margin: 0 10px;
        padding: 10px 5px;
        text-decoration: none;
        transition: 0.15s all ease-in-out;
        color: white;
        font-size: 1.1em;
        font-family: 'Permanent Marker', arial;

        @media(max-width: 992px){
          font-size: 0.75em;
          text-align: center;
          font-size: 2em;
        }
      }
    }
}

div.headerSection {
    background-image: url('../images/forest-background1.jpg');
    background-size: cover;
    margin-bottom: 50px;
    @media(min-width: 992px){
      background-attachment: fixed;
      height: 100vh;
    }

    @media(max-width: 991px){
      height: 27vh;
    }
    div.header-text{
        background: linear-gradient(rgba(0,0,0,.25), black);
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: center;
        color: white;
        justify-content: center;
        font-family: 'Permanent Marker', sans-serif;
        position: relative;
        h1 {
            margin: 0;
            font-size: 8vw;
            position: relative;
            @media(max-width: 991px){
              font-size: 14vw;
              margin-bottom: 25px;
            }
        }

        h2{
            font-size: 2.5vw;
            @media(min-width: 992px){
              margin-bottom: 100px;
            }

            @media(max-width: 991px){
              display: none !important;
            }
        }

    }

    div.header-nav{
      margin-bottom: 50px;
      @media(max-width: 992px){
        display: none;
      }
      a{
          color: white;
          text-decoration: none;
          margin: 0 10px;
          font-size: 1.5em;
          position: relative;
          padding: 5px 10px;
          &:before{
              transition: width 0.15s ease-in-out;
              content: "";
              display: block;
              position: absolute;
              bottom: 0;
              left: 0;
              height: 2px;
              width: 0;
              background-color: white;
          }
          &:after{
              transition: width 0.15s ease-in-out;
              content: "";
              display: block;
              position: absolute;
              top: 0;
              right: 0;
              height: 2px;
              width: 0;
              background-color: white;
          }
          &:hover{
              &:before{
                  width: 50%;
              }
              &:after{
                  width: 50%;
              }
          }
      }
  }

  div.header-social{
    display: flex;
    @media(min-width: 992px){
      position: fixed;
      bottom: 20px;
      right: 30px;
    }
    a{
      background-color: #ffff;
      box-sizing: border-box;
      font-size: 1.25em;
      border: 1px solid black;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: black;
      text-decoration: none;
      height: 50px;
      width: 50px;
      position: relative;
      transition: background-color 0.15s ease-in-out;

      @media(max-width: 992px){
        height: 35px;
        width: 35px;
      }

      &:first-child{
        margin-right: 15px;
        @media(max-width: 991px){
          margin-right: 40px;
        }
      }



      &.linkedin:hover{
        background-color: #0072b1;
        color: white;
        border: 1px solid white;
      }
      &.github:hover{
        background-color: #AD5C51;
        color: white;
        border: 1px solid white;
      }
    }
  }
}

main#page-content{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

section{
    scroll-margin-top: 80px;
    margin-bottom: 50px;
}

div.section-separation{
    margin: 0 auto 15px;
    @media(min-width: 992px){
      width: 190px;
    }

    @media(max-width: 991px){
      width: 35vw;
    }

    img{
        width: 100%;
    }
}

section.multi-section{
    div.buttons-container{
        margin-bottom: 15px;
        display: flex;
        button.multi-btn{
            background-color: black;
            border-right: 1px solid white;
            color: white;
            font-size: 15px;
            padding: 10px;
            &:last-child{
              border: none;
            }
            @media(max-width: 991px){
              flex: 1;
            }
            &.active{
                background-color: white;
                color: black;
            }
        }
    }
    div.content-container{
        div.multi-content{
            display: none;
            &.active{
                display: block;
            }
        }
    }
}

section#skills{
  div.buttons-container{
    @media(min-width: 992px){
      margin-left: 40px;
    }
  }
  div.content-container{
    @media(min-width: 992px){
      margin-left: 40px;
    }
  }
}

section#contact{
    form#contact-form{
        div.form-field{
            display: flex;
            flex-direction: column;
            margin-bottom: 15px;
            label{
                margin-bottom: 5px;
            }
            input{
                font-size: 15px;
                padding: 5px 10px;
            }
        }
    }
}

a.top-btn{
    color: white;
    background-color: black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 0 auto;
    i{
        position: relative;
    }
    &:hover{
      background-color: #415738;
      i{
          animation-name: bounceAnimation;
          animation-duration: 1s
      }
    }
}

@keyframes bounceAnimation {
    0% {
        bottom: 0;
    }

    25% {
        bottom: 7px;
    }
    35% {
        bottom: 0;
    }
    50% {
        bottom: 7px;
    }

    75% {
        bottom: 0;
    }
}

button.mobile-menu{
    color: white;
    background-color: #415738;
    padding: 10px 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 50%;
    transform: translatex(-50.1%);
    z-index: 9999;

    @media(min-width: 992px){
        display: none;
    }
}

footer{
  text-align: center;
  font-size: .75em;
  margin: 15px 0;
  font-weight: bold;

  @media(max-width: 992px){
    margin-bottom: 75px;
  }
}
