@font-face {
  font-family: 'Permanent Marker';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/permanentmarker/v10/Fh4uPib9Iyv2ucM6pGQMWimMp004Hao.ttf) format('truetype');
}
h1,
h2,
h3,
h4 {
  font-family: "Permanent Marker", sans-serif;
}
button {
  border: none;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-size: 1.2em;
  background-color: #e9e9e2;
}
nav {
  width: 100%;
}
@media (min-width: 992px) {
  nav {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
  }
}
nav div.nav-content {
  background-color: black;
  display: flex;
  justify-content: flex-end;
  position: relative;
  padding: 15px 10px;
  transition: 0.15s all ease-in-out;
  font-family: 'Permanent Marker', arial;
}
@media (max-width: 992px) {
  nav div.nav-content {
    display: none;
    justify-content: center;
    position: fixed;
    bottom: 48.8px;
    width: 100%;
    height: 95vh;
    flex-direction: column;
    z-index: 9999;
  }
}
nav div.nav-content h2.nav-title {
  color: white;
}
@media (min-width: 992px) {
  nav div.nav-content h2.nav-title {
    position: absolute;
    left: 29px;
    top: 19px;
  }
}
@media (max-width: 991px) {
  nav div.nav-content h2.nav-title {
    display: none;
  }
}
nav div.nav-content a {
  font-family: arial;
  font-weight: bold;
  margin: 0 10px;
  padding: 10px 5px;
  text-decoration: none;
  transition: 0.15s all ease-in-out;
  color: white;
  font-size: 1.1em;
  font-family: 'Permanent Marker', arial;
}
@media (max-width: 992px) {
  nav div.nav-content a {
    font-size: 0.75em;
    text-align: center;
    font-size: 2em;
  }
}
div.headerSection {
  background-image: url('../images/forest-background1.jpg');
  background-size: cover;
  margin-bottom: 50px;
}
@media (min-width: 992px) {
  div.headerSection {
    background-attachment: fixed;
    height: 100vh;
  }
}
@media (max-width: 991px) {
  div.headerSection {
    height: 27vh;
  }
}
div.headerSection div.header-text {
  background: linear-gradient(rgba(0, 0, 0, 0.25), black);
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  color: white;
  justify-content: center;
  font-family: 'Permanent Marker', sans-serif;
  position: relative;
}
div.headerSection div.header-text h1 {
  margin: 0;
  font-size: 8vw;
  position: relative;
}
@media (max-width: 991px) {
  div.headerSection div.header-text h1 {
    font-size: 14vw;
    margin-bottom: 25px;
  }
}
div.headerSection div.header-text h2 {
  font-size: 2.5vw;
}
@media (min-width: 992px) {
  div.headerSection div.header-text h2 {
    margin-bottom: 100px;
  }
}
@media (max-width: 991px) {
  div.headerSection div.header-text h2 {
    display: none !important;
  }
}
div.headerSection div.header-nav {
  margin-bottom: 50px;
}
@media (max-width: 992px) {
  div.headerSection div.header-nav {
    display: none;
  }
}
div.headerSection div.header-nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-size: 1.5em;
  position: relative;
  padding: 5px 10px;
}
div.headerSection div.header-nav a:before {
  transition: width 0.15s ease-in-out;
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: white;
}
div.headerSection div.header-nav a:after {
  transition: width 0.15s ease-in-out;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background-color: white;
}
div.headerSection div.header-nav a:hover:before {
  width: 50%;
}
div.headerSection div.header-nav a:hover:after {
  width: 50%;
}
div.headerSection div.header-social {
  display: flex;
}
@media (min-width: 992px) {
  div.headerSection div.header-social {
    position: fixed;
    bottom: 20px;
    right: 30px;
  }
}
div.headerSection div.header-social a {
  background-color: #ffff;
  box-sizing: border-box;
  font-size: 1.25em;
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  text-decoration: none;
  height: 50px;
  width: 50px;
  position: relative;
  transition: background-color 0.15s ease-in-out;
}
@media (max-width: 992px) {
  div.headerSection div.header-social a {
    height: 35px;
    width: 35px;
  }
}
div.headerSection div.header-social a:first-child {
  margin-right: 15px;
}
@media (max-width: 991px) {
  div.headerSection div.header-social a:first-child {
    margin-right: 40px;
  }
}
div.headerSection div.header-social a.linkedin:hover {
  background-color: #0072b1;
  color: white;
  border: 1px solid white;
}
div.headerSection div.header-social a.github:hover {
  background-color: #AD5C51;
  color: white;
  border: 1px solid white;
}
main#page-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
section {
  scroll-margin-top: 80px;
  margin-bottom: 50px;
}
div.section-separation {
  margin: 0 auto 15px;
}
@media (min-width: 992px) {
  div.section-separation {
    width: 190px;
  }
}
@media (max-width: 991px) {
  div.section-separation {
    width: 35vw;
  }
}
div.section-separation img {
  width: 100%;
}
section.multi-section div.buttons-container {
  margin-bottom: 15px;
  display: flex;
}
section.multi-section div.buttons-container button.multi-btn {
  background-color: black;
  border-right: 1px solid white;
  color: white;
  font-size: 15px;
  padding: 10px;
}
section.multi-section div.buttons-container button.multi-btn:last-child {
  border: none;
}
@media (max-width: 991px) {
  section.multi-section div.buttons-container button.multi-btn {
    flex: 1;
  }
}
section.multi-section div.buttons-container button.multi-btn.active {
  background-color: white;
  color: black;
}
section.multi-section div.content-container div.multi-content {
  display: none;
}
section.multi-section div.content-container div.multi-content.active {
  display: block;
}
@media (min-width: 992px) {
  section#skills div.buttons-container {
    margin-left: 40px;
  }
}
@media (min-width: 992px) {
  section#skills div.content-container {
    margin-left: 40px;
  }
}
section#contact form#contact-form div.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
section#contact form#contact-form div.form-field label {
  margin-bottom: 5px;
}
section#contact form#contact-form div.form-field input {
  font-size: 15px;
  padding: 5px 10px;
}
a.top-btn {
  color: white;
  background-color: black;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin: 0 auto;
}
a.top-btn i {
  position: relative;
}
a.top-btn:hover {
  background-color: #415738;
}
a.top-btn:hover i {
  animation-name: bounceAnimation;
  animation-duration: 1s;
}
@keyframes bounceAnimation {
  0% {
    bottom: 0;
  }
  25% {
    bottom: 7px;
  }
  35% {
    bottom: 0;
  }
  50% {
    bottom: 7px;
  }
  75% {
    bottom: 0;
  }
}
button.mobile-menu {
  color: white;
  background-color: #415738;
  padding: 10px 15px;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 50%;
  transform: translatex(-50.1%);
  z-index: 9999;
}
@media (min-width: 992px) {
  button.mobile-menu {
    display: none;
  }
}
footer {
  text-align: center;
  font-size: .75em;
  margin: 15px 0;
  font-weight: bold;
}
